#grid {
    border: 1px solid grey;
    display: grid;
    grid-template-columns: repeat(9, 20px);
    width: min-content;
}

.square {
    height: 20px;
    aspect-ratio: 1;
}

[data-game='end'] {
    background-color: red;
}

[data-game='start'] {
    background-color: yellow;
}

/*[data-obstacle='left'] {*/
/*    background-color: lightblue;*/
/*}*/

/*[data-obstacle='right'] {*/
/*    background-color: lightgray;*/
/*}*/

.frog {
    background-color: forestgreen;
}

[data-type-id='1'],
[data-type-id='2'],
[data-type-id='3'] {
    background-color: brown;
}