#grid {
    border: 1px solid grey;
    display: grid;
    grid-template-columns: repeat(9, 20px);
    width: min-content;
}

.square {
    height: 20px;
    aspect-ratio: 1;
}

[data-game='end'] {
    background-color: red;
}

[data-game='start'] {
    background-color: yellow;
}

[data-type='log'][data-type-id='1'],
[data-type='log'][data-type-id='2'],
[data-type='log'][data-type-id='3'] {
    background-color: brown;
}

[data-type='car'][data-type-id='1']{
    background-color: brown;
}

.frog {
    background-color: forestgreen;
}